{include file="../application/admin/view/index/heater.html" /}
<div class="mws-panel grid_7" style="margin-top: 5%;">
    <form class="mws-form" action="{:url('/admin/news/upd')}" method="post" enctype="multipart/form-data">
         <div class="mws-panel grid_8">
                <div class="mws-panel-header">
                    <span class="mws-i-24 i-pencil">编辑文章</span>
                </div>
                <div class="mws-panel-body">
                        <input type="hidden" name="id" value="{$newsData['id']}" />
                        <div class="mws-form-inline">
                            <div class="mws-form-row">
                                <label>新闻标题</label>
                                <div class="mws-form-item small">
                                    <input type="text" class="mws-textinput" name="title" value="{$newsData['title']}"/>
                                </div>
                            </div>
                            <div class="mws-form-row">
                                <label>图片</label>
                                <div class="mws-form-item small">
                                    <input type="file" class="mws-textinput" name="img"/>
                                </div>
                            </div>
                            <div class="mws-form-row" style="height: 150px;width: 100%;">
                                <input type="hidden" name="img_path" value="{$newsData['img']}" />
                                <div class="pic-box" style="background-image:url(/news/{$newsData['img']});background-repeat: no-repeat;height: 150px;background-size: 10%;margin-left: 200px;">
                                </div>
                            </div>
                            <div class="mws-form-row">
                                <label>内容</label>
                                <div class="mws-form-item large">
                                    <textarea id="content" name="content">{$newsData['content']}</textarea>
                                </div>
                            </div>
                            <div class="mws-form-row">
                                <label>首页显示</label>
                                <div class="mws-form-item clearfix">
                                    <ul class="mws-form-list inline">
                                        <li>
                                            <input type="radio" value="0" name="is_show"  {$newsData["is_show"] == 0 ? "checked" : ""} />
                                            <label>显示</label>
                                        </li>
                                        <li>
                                            <input type="radio" value="1" name="is_show" {$newsData["is_show"] == 1 ? "checked" : ""} />
                                            <label>不显示</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="mws-button-row">
                            <input type="submit" value="提交" class="mws-button green" />
                        </div>
                    </form>
                </div>      
            </div>
    </form>
</div>    	


{include file="../application/admin/view/index/footer.html" /}   


<script type="text/javascript">
    
    //初始化富文本编辑器
    //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
    var ue = UE.getEditor('content');
</script>
