<!DOCTYPE html>
<html lang="zh" class="jz_screen_pc">
<head>
<title>熵云链</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Cache-Control" content="no-transform">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="format-detection" content="telephone=no,email=no,address=no">
<meta name="renderer" content="webkit">
<meta property="og:url" content="http://www.zsepoch.com">
<meta name="description" itemprop="description" content="熵云链"/>
<meta itemprop="name" content="熵云链"/><meta name="keywords" content="熵云链"/>
<script type="text/javascript">
    (function() { 
        var fs = document.createElement("script"); 
        fs.src = "{:config('static_home')}/fe.faisys.com/jssdk_1_0/js/hawkEye.min.js?v=201905161925";
        window.FAI_HAWK_EYE = {}; window.FAI_HAWK_EYE.jssdk_report_url = "/report.fkw.com/js/report"; 
        window.FAI_HAWK_EYE.jssdk_appid = 3019; 
        window.FAI_HAWK_EYE.fai_aid = 16934065; 
        window.FAI_HAWK_EYE.fai_bs_aid = 16934065;
        window.FAI_HAWK_EYE.fai_bs_id = 5; 
        window.FAI_HAWK_EYE.fai_bs_wid = 500; 
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(fs, s);
    })();
</script>
<meta content="always" name="referrer">

<script type="text/javascript" src="{:config('static_home')}/fe.faisys.com/browserChecked_1_0/js/browserCheck.min.js?v=201812191155"></script>
<script type="text/javascript"> 
    var notSupportList = [];
        dogSrc = 1;
        version = 9;

    if(!BrowserChecked({reverse:true,notSupportList:[{name:"ie",version:version}]}).isSupport){
        var xhr = new XMLHttpRequest();            
        xhr.open('GET', '/ajax/log_h.jsp?cmd=dog&dogId=200696&dogSrc=' + dogSrc, true);
        xhr.onreadystatechange = function() {
          // xhr.readyState == 4说明请求已完成   
        };
        xhr.send();
        window.location.href = "lvBrowser.jsp?url="+encodeURIComponent(location.href)+"&v="+version;
    }
</script>

<style type="text/css">
    .jz_toolbar .wx_qr_code{
        background-image:url("");
    }
    .jz_toolbar .wx_qr_logo{
        background-image:url("/jzas.faisys.com/image/v2/jz_logo.jpg");
    }
</style>
<link type="text/css" href="{:config('static_home')}/g-2.ss.faisys.com/css/rcss/fontsIcon.min.css?v=201905221254" rel="stylesheet" />
<link type="text/css" href="{:config('static_home')}/g-2.ss.faisys.com/css/rcss/base.min.css?v=201905221254" rel="stylesheet" />
<link type="text/css" href="{:config('static_home')}/g-2.ss.faisys.com/css/rcss/common/video-js.min.css?v=201905221254" rel="stylesheet" />
<link type="text/css" href="{:config('static_home')}/g-2.ss.faisys.com/css/rcss/video.min.css?v=201905221254" rel="stylesheet" />
<link type="text/css" href="{:config('static_home')}/g-2.ss.faisys.com/css/rcss/slidePanel.min.css?v=201905221254" rel="stylesheet" />
<link type="text/css" href="{:config('static_home')}/g-2.ss.faisys.com/css/site/poshytipAndmCustomScrollbar.min.css?v=201905221254" rel="stylesheet" />
<link type="text/css" href="{:config('static_home')}/g-2.ss.faisys.com/css/rcss/materialFactory.min.css?v=201905221254" rel="stylesheet" />
<link type='text/css' href='//g-2.ss.faisys.com/css/rcss/moduleAnimation.min.css?v=201905221254' rel='stylesheet' />
<link type="text/css" href="{:config('static_home')}/jzresponsivecusstyle.jsp?colId=2&extId=0" rel="stylesheet" />


<style id="themeControl">
    .jz_theme_font_color{color:#4c4c4c;}
    .jz_theme_bg_color{background-color:#4c4c4c;}
    .jz_theme_border_color{border-color:#4c4c4c;}
    .jz_theme_focus_border_color:focus{border-color:#4c4c4c;}
    .jz_theme_hover_font_color:hover{color:#4c4c4c;}
    .jz_hover.jz_theme_bg_hover_color:hover{background-color:#4c4c4c;}
    .jz_hover.jz_theme_font_hover_color:hover{color:#4c4c4c;}
    .jz_hover.jz_theme_border_hover_color:hover{border-color:#4c4c4c;}
    .jz_focus.jz_theme_focus_border_color:focus{border-color:#4c4c4c;}
</style>

<script>
    // 访客态链接跳转   
    document.addEventListener("click", function(event){
        for(var i in event.path){
            var node = event.path[i];
            if(node.nodeName === "A"){
                // 点击A标签
                var href = node.getAttribute("href");
                if(!href) return;
                if(
                    ( window.innerWidth <= 768 || window.self != window.top ) &&
                   !( href.indexOf('http:') > -1 || href.indexOf('https:') > -1 )
                ){
                    // 手机或者内嵌iframe点击链接时取消新页面打开（站内链接）
                    event.preventDefault();
                    location.href = href;
                }
            }
        }
    }, false);
    document.addEventListener('touchmove',function(event){event.preventDefault(); },false);
</script>

    
</head>
<body>
    <script type="text/javascript" src="{:config('static_home')}/g-1.ss.faisys.com/js/jzUtils.min.js?v=201904171451"></script>
    <script>
        Fai = {};
        Fai.top = window;
        Root = {};
        JZ = {};
        _global = {};
        Comm = {};
        _temporary = {};    //临时数据
        _props = {};
    </script>

    <div id="jzWebContainer" class="jz_web_container jz_col_2" >
        <div id="gridHeader" class="jz_web_header g_header g_header__static">
            <div class="header_content g_header_content J_headerContent g_header_content_fixed_bg_def">
                <div class='jz_web_row_line jz_web_row_line_pc1'>
                    <div id='row3' class='jz_web_row jz_web_row3 jz_section_row'>
                        <div class='jz_web_row__content'>
                            <div class='jz_web_col jz_web_col0 jz_col_6' _index=0>
                                <div class='web_col_content'>
                                    <div class='jz_website_title_wrap'>
                                        <div id='jz_website_title' class='jz_website_title type_1'>
                                            <div class='logo_wrap'>
                                                <a href='/index.jsp'  >
                                                    <img class='logo_img' src="/upload/{$content['logo']}" ></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class='jz_web_col jz_web_col1 jz_col_4 jz_col_sys_section' _index=1 style="width: 39%;">
                                    <div class='web_col_content'>
                                        <div class='jz_nav_wrap jz_nav_layout1 visit_mode'>
                                        <div class='jz_nav_menu'>
                                            <div class='menu_body'>
                                                <div class='nav_menu_item menu_item_top'>
                                                    <div class='item_rect'></div>
                                                </div>
                                                <div class='nav_menu_item menu_item_center'>
                                                    <div class='item_rect'></div>
                                                </div>
                                                <div class='nav_menu_item menu_item_bottom'>
                                                    <div class='item_rect'></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id='jz_nav' class='jz_nav'>
                                            <div class='jz_nav_content '>
                                                <i class='nav_icon_prev nav_icon_direction'></i>
                                                <i class='nav_icon_next nav_icon_direction'></i>
                                                <ul class='jz_nav_list'>
                                                    <li class='jz_nav_item  jz_hover jz_theme_border_hover_color jz_theme_font_hover_color nav_item2  jz_nav_item_selected jz_theme_border_color jz_theme_font_color ' _colid='2'>
                                                        <div class='nav_item_text_wrap'><a class='nav_item_text ' title='' href='/index.jsp' target='_self'>首 &nbsp;页</a> </div>
                                                    </li>
                                                    <li class='nav_item_septal'></li>
                                                    <li class='jz_nav_item  jz_hover jz_theme_border_hover_color jz_theme_font_hover_color nav_item103  ' _colid='103'>
                                                        <div class='nav_item_text_wrap'>
                                                            <a class='nav_item_text ' title='' href='{:url("/home/messages/index")}' target='_self'>留言板</a>
                                                        </div>
                                                    </li>
                                                    <li class='jz_nav_item  jz_hover jz_theme_border_hover_color jz_theme_font_hover_color nav_item103  ' _colid='103'>
                                                        <div class='nav_item_text_wrap'>
                                                            <a class='nav_item_text ' title='' href='{:url("/home/trend/index")}' target='_self'>溯源趋势</a>
                                                        </div>
                                                    </li>
                                                    <li class='jz_nav_item  jz_hover jz_theme_border_hover_color jz_theme_font_hover_color nav_item103  ' _colid='103'>
                                                        <div class='nav_item_text_wrap'>
                                                            <a class='nav_item_text ' title='' href='{:url("/home/plan/index")}' target='_self'>溯源方案</a>
                                                        </div>
                                                    </li>
                                                    <li class='nav_item_septal'></li>
                                                    <li class='jz_nav_item  jz_hover jz_theme_border_hover_color jz_theme_font_hover_color nav_item104  ' _colid='104'>
                                                        <div class='nav_item_text_wrap'>
                                                            <a class='nav_item_text ' title='' href='/download/chinese.pdf' target='_self'>白皮书下载</a>  
                                                        </div>
                                                    </li>
                                                    <li class='jz_nav_item  jz_hover jz_theme_border_hover_color jz_theme_font_hover_color nav_item104  ' _colid='104'>
                                                        <div class='nav_item_text_wrap'>
                                                            <a class='nav_item_text ' title='' href='{:url("/home/relation/index")}' target='_self'>联系我们</a>  
                                                        </div>
                                                    </li>
                                                    <li class='nav_item_septal'></li>
                                                    <li class='jz_nav_item  jz_hover jz_theme_border_hover_color jz_theme_font_hover_color nav_item106  nav_child_item ' _colid='106'>
                                                        <div class='nav_item_text_wrap'>
                                                            <i class='icon_nav_item faisco-icons-S000106'></i>
                                                            <a class='nav_item_text  nav_child_item_text' title='' href='http://uuhdx.com/h-col-116.html' target='_self'>关 &nbsp;于</a>
                                                            <ul class='sub_nav_list' _parentid='106'>
                                                                <div class='sub_nav_wrap'></div>
                                                            </ul>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class='mobi_nav_blocker'></div>
                                    </div>
                                </div>
                            </div>
                            <div style="line-height: 65px;">
                                <a href="{:url('/home_en/index/index')}" style="font-size: 14px;color: red;">英文</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="g_header_placeholder J_headerPlaceholder"></div>
        </div>

        <div class="jz_web_banner">
            <div id='jz_banner' class='jz_banner jz_hide_flv'>
                <div class='banner_pic'>
                    <div class='pic_switch_btn_area banner_short_line_wrap jz_pc_short_line  jz_mobi_same_pc_banner'><a index='0' class='pic_short_line_btn pic_short_line_0 pic_short_line_btn_activity'>
                        <div class='pic_short_line'></div></a>
                        <a index='1' class='pic_short_line_btn pic_short_line_1'><div class='pic_short_line'></div></a>
                        <a class='pic_arrow_btn pic_arrow_btn_prev'></a>
                        <a class='pic_arrow_btn pic_arrow_btn_next'></a></div>
                        <div class='banner_pic_group jz_pc_banner_group  jz_mobi_same_pc_banner'>
                            <div class='banner_pic_item_wrap banner_pic_0'>
                                <div class='banner_pic_item'>
                                    <div class='banner_module_zone'><object>
                                        <div class='jz_web_row_line jz_web_row_line_pc1'>
                                            <div id='row284' class='jz_web_row jz_web_row1 jz_web_row_mobi1 jz_section_row'>
                                                <div class='jz_web_row__content'>
                                                    <div class='jz_web_col jz_web_col0' _index=0>
                                                        <div class='web_col_content web_col_content_empty'> 
                                                            <img src="{:config('static_home')}/img/1.png"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </object>
                                </div>
                            </div>
                        </div>
                        <div class='banner_pic_item_wrap banner_pic_1'>
                            <div class='banner_pic_item'>
                                <div class='banner_module_zone'>
                                    <object>
                                        <div class='jz_web_row_line jz_web_row_line_pc1'>
                                            <div id='row283' class='jz_web_row jz_web_row1 jz_web_row_mobi1 jz_section_row'>
                                                <div class='jz_web_row__content'>
                                                <div class='jz_web_col jz_web_col0' _index=0>
                                                    <div class='web_col_content web_col_content_empty'><img src="{:config('static_home')}/img/2.png"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </object>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="jz_web_content">
        <div class="jz_web_row_line jz_web_row_line_pc1">
   <div id="row121" class="jz_web_row jz_web_row1 jz_module_row">
    <div class="jz_web_row__content">
     <div class="jz_web_col jz_web_col0" _index="0">
      <div class="web_col_content">
       <div id="module302" class="form jz_module  jz_module_style_6">
        <div class="module_wrap">
         <div class="module_content ">
          <div class="module_text_content">
           <div class="fkeditor-wrap">
            <div class="fk-editor">
             <div style="font-size: 28px; color: rgb(51, 51, 51); font-family: 微软雅黑; text-align: left;">
              熵云链
             </div>
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
       <div id="module303" class="form jz_module  jz_module_style_6">
        <div class="module_wrap">
         <div class="module_content ">
          <div class="module_text_content">
           <div class="fkeditor-wrap">
            <div class="fk-editor">
             <div style="font-size: 14px;color:rgba(153,153,153,1);font-family:微软雅黑;text-align:left;">
              ENTROPY CLOUD CHAIN
             </div>
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
  <div class="jz_web_row_line jz_web_row_line_pc1">
   <div id="row120" class="jz_web_row jz_web_row2 jz_module_row">
    <div class="jz_web_row__content">
     <div class="jz_web_col jz_web_col0" _index="0">
      <div class="web_col_content">
       <div id="module304" class="form jz_module  jz_module_style_6">
        <div class="module_wrap">
         <div class="module_content ">
          <div class="module_text_content">
           <div class="fkeditor-wrap">
            <div class="fk-editor">
             <div style="font-size: 24px; color: rgb(51, 51, 51); font-family: 微软雅黑; text-align: left;">
              {$indexData2[0]["title"]}
              <div style="font-size: 24px;">
               —
              </div>
             </div>
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
       <div id="module305" class="form jz_module  jz_module_style_6">
        <div class="module_wrap">
         <div class="module_content ">
          <div class="module_text_content">
           <div class="fkeditor-wrap">
            <div class="fk-editor">
             <div style="line-height: 35px; font-size: 14px; text-align: left;">
              <font face="Microsoft YaHei, 微软雅黑" style="color: rgb(153, 153, 153); font-size: 16px;">{$indexData2[0]["content"]}</font>
             </div>
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
     <div class="jz_web_col jz_web_col1" _index="1">
      <div class="web_col_content">
       <div id="module301" class="form jz_module  jz_module_style_7">
        <div class="module_wrap">
         <div class="module_content ">
          <div class="module_image_content "> 
           <img data-src="/upload/{$indexData2[0]['src']}" class=" '="" />
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
  <div class="jz_web_row_line jz_web_row_line_pc1">
   <div id="row104" class="jz_web_row jz_web_row1 jz_module_row">
    <div class="jz_web_row__content">
     <div class="jz_web_col jz_web_col0" _index="0">
      <div class="web_col_content">
       <div id="module308" class="form jz_module  jz_module_style_6">
        <div class="module_wrap">
         <div class="module_content ">
          <div class="module_text_content">
           <div class="fkeditor-wrap">
            <div class="fk-editor">
             <div style="font-size: 28px; color: rgb(51, 51, 51); font-family: 微软雅黑; text-align: left;">
              我们的生态
             </div>
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
       <div id="module309" class="form jz_module  jz_module_style_6">
        <div class="module_wrap">
         <div class="module_content ">
          <div class="module_text_content">
           <div class="fkeditor-wrap">
            <div class="fk-editor">
             <div style="font-size: 14px;color:rgba(153,153,153,1);font-family:微软雅黑;text-align:left;">
              ECOSYSTEM
             </div>
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
  <div class="jz_web_row_line jz_web_row_line_pc1">
   <div id="row274" class="jz_web_row jz_web_row2 jz_web_row_mobi1 jz_module_row">
    <div class="jz_web_row__content">
     <div class="jz_web_col jz_web_col0" _index="0">
      <div class="web_col_content">
       <div id="module603" class="form jz_module  jz_module_style_7">
        <div class="module_wrap">
         <div class="module_content ">
          <div class="module_image_content "> 
           <img data-src="{:config('static_home')}//16934065.s21i.faiusr.com/4/5/ABUIABAEGAAgyfqa5gUoubbKzgYw4zo4qCg.png" alt="//16934065.s21i.faiusr.com/4/5/ABUIABAEGAAgyfqa5gUoubbKzgYw4zo4qCg.png&quot; class=" '="" />
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
     <div class="jz_web_col jz_web_col1" _index="1">
      <div class="web_col_content">
       <div id="module576" class="form jz_module  jz_module_style_6">
        <div class="module_wrap">
         <div class="module_content ">
          <div class="module_text_content">
           <div class="fkeditor-wrap">
            <div class="fk-editor">
             <div style="font-size: 20px;color:#333;font-family:微软雅黑;text-align:left;">
              <span style="font-size: 24px;">DPoS挖矿</span>
             </div>
             <div style="font-size: 20px;color:#333;font-family:微软雅黑;text-align:left;">
              <div>
               —
              </div>
             </div>
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
       <div id="module601" class="form jz_module  jz_module_style_6">
        <div class="module_wrap">
         <div class="module_content ">
          <div class="module_text_content">
           <div class="fkeditor-wrap">
            <div class="fk-editor">
             <div style="line-height: 35px; font-size: 14px; text-align: left;">
              <span style="color: rgb(153, 153, 153);"><font face="微软雅黑" style="font-size: 16px;">通过整合移动设备闲置算力，以</font><span style="font-size: 16px;">CPU计算模拟人类行为获取互联网市场剩余价值，并按照DPOS机制衡量贡献算力大小分发用户</span></span>
             </div>
             <p class="MsoNormal"><span style=""></span></p>
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
       <div id="module634" class="form jz_module  jz_module_style_7">
        <div class="module_wrap">
         <div class="module_content ">
          <div class="module_image_content "> 
           <img data-src="{:config('static_home')}//16934065.s21i.faiusr.com/4/5/ABUIABAEGAAg5LCv5gUo_Y2prAUw-gQ4Kg.png" alt="//16934065.s21i.faiusr.com/4/5/ABUIABAEGAAg5LCv5gUo_Y2prAUw-gQ4Kg.png&quot; class=" '="" />
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
  <div class="jz_web_row_line jz_web_row_line_pc1">
   <div id="row275" class="jz_web_row jz_web_row2 jz_web_row_mobi1 jz_module_row">
    <div class="jz_web_row__content">
     <div class="jz_web_col jz_web_col0" _index="0">
      <div class="web_col_content">
       <div id="module604" class="form jz_module  jz_module_style_6">
        <div class="module_wrap">
         <div class="module_content ">
          <div class="module_text_content">
           <div class="fkeditor-wrap">
            <div class="fk-editor">
             <div style="font-size: 20px;color:#333;font-family:微软雅黑;text-align:left;">
              <span style="font-size: 24px;">溯源平台</span>
              <br style="font-size: 24px;" />
              <div>
               —
              </div>
             </div>
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
       <div id="module605" class="form jz_module  jz_module_style_6">
        <div class="module_wrap">
         <div class="module_content ">
          <div class="module_text_content">
           <div class="fkeditor-wrap">
            <div class="fk-editor">
             <div style="line-height: 35px; font-size: 14px; text-align: left;">
              <font face="Microsoft YaHei, 微软雅黑" style="color: rgb(153, 153, 153); font-size: 16px;">依托区块链技术，平台将供应链上下游企业全部纳入追溯体系，构建了来源可查、去向可追、责任可究的全链条可追溯体系</font>
             </div>
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
       <div id="module633" class="form jz_module  jz_module_style_7">
        <div class="module_wrap">
         <div class="module_content ">
          <div class="module_image_content "> 
           <img data-src="{:config('static_home')}//16934065.s21i.faiusr.com/4/5/ABUIABAEGAAgnrGv5gUo9tS01gIw-gQ4Kg.png" alt="//16934065.s21i.faiusr.com/4/5/ABUIABAEGAAgnrGv5gUo9tS01gIw-gQ4Kg.png&quot; class=" '="" />
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
     <div class="jz_web_col jz_web_col1" _index="1">
      <div class="web_col_content">
       <div id="module607" class="form jz_module  jz_module_style_7">
        <div class="module_wrap">
         <div class="module_content ">
          <div class="module_image_content "> 
           <img data-src="{:config('static_home')}//16934065.s21i.faiusr.com/4/5/ABUIABAEGAAglpmZ5gUogL3nFTCtFTiTFQ.png" alt="//16934065.s21i.faiusr.com/4/5/ABUIABAEGAAglpmZ5gUogL3nFTCtFTiTFQ.png&quot; class=" '="" />
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
  <div class="jz_web_row_line jz_web_row_line_pc1">
   <div id="row276" class="jz_web_row jz_web_row2 jz_web_row_mobi1 jz_module_row">
    <div class="jz_web_row__content">
     <div class="jz_web_col jz_web_col0 jz_col_6" _index="0">
      <div class="web_col_content">
       <div id="module608" class="form jz_module  jz_module_style_7">
        <div class="module_wrap">
         <div class="module_content ">
          <div class="module_image_content "> 
           <img data-src="{:config('static_home')}//16934065.s21i.faiusr.com/4/5/ABUIABAEGAAgl-ua5gUolJPvQTD_JDjlGQ.png" alt="//16934065.s21i.faiusr.com/4/5/ABUIABAEGAAgl-ua5gUolJPvQTD_JDjlGQ.png&quot; class=" '="" />
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
     <div class="jz_web_col jz_web_col1 jz_col_6" _index="1">
      <div class="web_col_content">
       <div id="module609" class="form jz_module  jz_module_style_6">
        <div class="module_wrap">
         <div class="module_content ">
          <div class="module_text_content">
           <div class="fkeditor-wrap">
            <div class="fk-editor">
             <div style="font-size: 20px;color:#333;font-family:微软雅黑;text-align:left;">
              <span style="font-size: 24px;">新零售</span>
              <br style="font-size: 24px;" />
              <div>
               —
              </div>
             </div>
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
       <div id="module610" class="form jz_module  jz_module_style_6">
        <div class="module_wrap">
         <div class="module_content ">
          <div class="module_text_content">
           <div class="fkeditor-wrap">
            <div class="fk-editor">
             <div style="line-height: 35px; font-size: 14px; text-align: left;">
              <font face="Microsoft YaHei, 微软雅黑" style="color: rgb(153, 153, 153); font-size: 16px;"><font style="font-size: 16px;">以</font><font style="font-size: 16px;">电商</font>+<font style="font-size: 16px;">实体店为基点，不断向产业链上下游环节拓展，从而打造商品进出有序、供需均衡、资金</font><font style="font-size: 16px;">回笼及时的新零售生态</font></font>
             </div>
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
       <div id="module632" class="form jz_module  jz_module_style_7">
        <div class="module_wrap">
         <div class="module_content ">
          <div class="module_image_content "> 
           <img data-src="{:config('static_home')}//16934065.s21i.faiusr.com/4/5/ABUIABAEGAAgt7Gv5gUogPDi2wUw-gQ4Kg.png" alt="//16934065.s21i.faiusr.com/4/5/ABUIABAEGAAgt7Gv5gUogPDi2wUw-gQ4Kg.png&quot; class=" '="" />
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
  <div class="jz_web_row_line jz_web_row_line_pc1">
   <div id="row105" class="jz_web_row jz_web_row1 jz_module_row">
    <div class="jz_web_row__content">
     <div class="jz_web_col jz_web_col0" _index="0">
      <div class="web_col_content">
       <div id="module322" class="form jz_module  jz_module_style_6">
        <div class="module_wrap">
         <div class="module_content ">
          <div class="module_text_content">
           <div class="fkeditor-wrap">
            <div class="fk-editor">
             <div style="font-size: 28px; color: rgb(51, 51, 51); font-family: 微软雅黑; text-align: left;">
              我们的技术
             </div>
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
       <div id="module323" class="form jz_module  jz_module_style_6">
        <div class="module_wrap">
         <div class="module_content ">
          <div class="module_text_content">
           <div class="fkeditor-wrap">
            <div class="fk-editor">
             <div style="font-size: 14px;color:rgba(153,153,153,1);font-family:微软雅黑;text-align:left;">
              TECHNOLOGY
             </div>
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
  <div class="jz_web_row_line jz_web_row_line_pc1">
   <div id="row302" class="jz_web_row jz_web_row2 jz_web_row_mobi1 jz_module_row">
    <div class="jz_web_row__content">
     <div class="jz_web_col jz_web_col0 jz_col_5" _index="0">
      <div class="web_col_content">
       <div id="module650" class="form jz_module  jz_module_style_7">
        <div class="module_wrap">
         <div class="module_content ">
          <div class="module_image_content "> 
           <img data-src="{:config('static_home')}//16934065.s21i.faiusr.com/4/5/ABUIABAEGAAgmPyu5gUorInJiAMwgis43yA.png" alt="//16934065.s21i.faiusr.com/4/5/ABUIABAEGAAgmPyu5gUorInJiAMwgis43yA.png&quot; class=" '="" />
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
     <div class="jz_web_col jz_web_col1 jz_col_7" _index="1">
      <div class="web_col_content">
       <div id="module651" class="form jz_module  jz_module_style_6">
        <div class="module_wrap">
         <div class="module_content ">
          <div class="module_text_content">
           <div class="fkeditor-wrap">
            <div class="fk-editor">
             <span style="font-size: 24px;">技术架构</span>
             <div style="line-height: 36px;">
              <font face="SimHei, STHeiti, 黑体"><b>——</b></font>
             </div>
             <div>
              <span style="color: rgb(153, 153, 153);"><font face="微软雅黑" style="font-size: 16px; text-align: center;">通过物联网</font><span style="font-size: 16px;">+区块链生态的方式。架构中，区块链被设计为涉及交易和交互的应用程序的基础，支持特定物联网溯源设备的其他智能应用</span></span>
              <br />
             </div>
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
  <div class="jz_web_row_line jz_web_row_line_pc1">
   <div id="row303" class="jz_web_row jz_web_row2 jz_web_row_mobi1 jz_module_row">
    <div class="jz_web_row__content">
     <div class="jz_web_col jz_web_col0 jz_col_7" _index="0">
      <div class="web_col_content">
       <div id="module653" class="form jz_module  jz_module_style_6">
        <div class="module_wrap">
         <div class="module_content ">
          <div class="module_text_content">
           <div class="fkeditor-wrap">
            <div class="fk-editor">
             <span style="font-size: 24px;">IOT架构</span>
             <div style="line-height: 36px;">
              <font face="SimHei, STHeiti, 黑体"><b>——</b></font>
             </div>
             <div>
              <span style="color: rgb(153, 153, 153);"><font face="微软雅黑" style="font-size: 16px; text-align: center;">多个节点共建网络，应用通过接口和链发生交互，而本地应用所需的计算能力来自网关、路由器；同时我们将推出基于</font><span style="font-size: 16px;">STM32的开放式智能硬件解决方案</span></span>
             </div>
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
     <div class="jz_web_col jz_web_col1 jz_col_5" _index="1">
      <div class="web_col_content">
       <div id="module652" class="form jz_module  jz_module_style_7">
        <div class="module_wrap">
         <div class="module_content ">
          <div class="module_image_content "> 
           <img data-src="{:config('static_home')}//16934065.s21i.faiusr.com/4/5/ABUIABAEGAAgsfyu5gUo6dTChgYwxyI4hR4.png" alt="//16934065.s21i.faiusr.com/4/5/ABUIABAEGAAgsfyu5gUo6dTChgYwxyI4hR4.png&quot; class=" '="" />
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
  <div class="jz_web_row_line jz_web_row_line_pc1">
   <div id="row304" class="jz_web_row jz_web_row2 jz_web_row_mobi1 jz_module_row">
    <div class="jz_web_row__content">
     <div class="jz_web_col jz_web_col0 jz_col_5" _index="0">
      <div class="web_col_content">
       <div id="module654" class="form jz_module  jz_module_style_7">
        <div class="module_wrap">
         <div class="module_content ">
          <div class="module_image_content "> 
           <img data-src="{:config('static_home')}//16934065.s21i.faiusr.com/4/5/ABUIABAEGAAg_fyu5gUo0vyJcTDqHTiKFg.png" alt="//16934065.s21i.faiusr.com/4/5/ABUIABAEGAAg_fyu5gUo0vyJcTDqHTiKFg.png&quot; class=" '="" />
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
     <div class="jz_web_col jz_web_col1 jz_col_7" _index="1">
      <div class="web_col_content">
       <div id="module655" class="form jz_module  jz_module_style_6">
        <div class="module_wrap">
         <div class="module_content ">
          <div class="module_text_content">
           <div class="fkeditor-wrap">
            <div class="fk-editor">
             <span style="font-size: 24px;">共识机制</span>
             <div style="line-height: 36px;">
              <font face="SimHei, STHeiti, 黑体"><b>——</b></font>
             </div>
             <div>
              <span style="font-size: 16px; color: rgb(153, 153, 153);">DPoS是由被社区选举的可信帐户——得票数排行前101位的受托人来创建区块。为了成为正式受托人，用户需要在社区拉票，获得足够多用户的信任</span>
             </div>
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
<div class="jz_web_row_line jz_web_row_line_pc1">
    <div id="row106" class="jz_web_row jz_web_row1 jz_module_row">
        <div class="jz_web_row__content">
            <div class="jz_web_col jz_web_col0" _index="0">
                <div class="web_col_content">
                    <div id="module336" class="form jz_module  jz_module_style_6">
                        <div class="module_wrap">
                            <div class="module_content ">
                                <div class="module_text_content">
                                    <div class="fkeditor-wrap">
                                        <div class="fk-editor">
                                            <div style="text-align: center; font-size: 28px;">我们的团队</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="module337" class="form jz_module  jz_module_style_6">
                        <div class="module_wrap">
                            <div class="module_content ">
                                <div class="module_text_content">
                                    <div class="fkeditor-wrap">
                                        <div class="fk-editor">
                                            <div style="text-align: center; font-size: 14px; color: rgb(153, 153, 153); font-family: 微软雅黑;">CORE TEAM</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </div>
</div>
<div class="jz_web_row_line jz_web_row_line_pc1">
    <div id="row107" class="jz_web_row jz_web_row1 jz_module_row">
        <div class="jz_web_row__content">
            <div class="jz_web_col jz_web_col0" _index="0">
                <div class="web_col_content">
                    <div id="module338" class="form jz_module  jz_module_style_17">
                        <div class="module_wrap">
                            <div class="module_content">
                                <div leninrow="2" projectid="338" class="module_content_detail module_news_list_content module_news_list_style1">
                                    <div class="news_list_wrap">
                                        <?php foreach($teamData as $v): ?>
                                        <div data-id="2" class="news_list_item_line jz_hover jz_theme_font_hover_color news_list_item_line_num news_list_item_line_num2 news_list_item_line_pic">
                                            <a href="nd.jsp?id=2&amp;formMid=338" target="_blank" class="news_list_item_link"></a> 
                                            <div class="news_list_item_inner">
                                                <div class="news_list_img_box">
                                                    <div class="news_list_img" data-was-processed="true" style='background-image: url("/team/{$v['img']}");'></div>
                                                </div>
                                                <div class="news_list_item_content">
                                                    <div class="news_list_item_header">
                                                        <h4 class="news_list_item_title jz_theme_font_hover_color jz_hover">{$v['name']}</h4> 
                                                        <span class="news_list_item_date">{$v['position']}</span>
                                                    </div> 
                                                    <div class="news_list_item_summery">{$v['content']}</div>
                                                    <div class="news_list_item_ext_line">
                                                        <div class="news_list_item_arrow_link">
                                                            <div class="news_list_item_arrow"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <?php endforeach; ?>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="jz_web_row_line jz_web_row_line_pc1">
    <div id="row106" class="jz_web_row jz_web_row1 jz_module_row">
        <div class="jz_web_row__content">
            <div class="jz_web_col jz_web_col0" _index="0">
                <div class="web_col_content">
                    <div id="module336" class="form jz_module  jz_module_style_6">
                        <div class="module_wrap">
                            <div class="module_content ">
                                <div class="module_text_content">
                                    <div class="fkeditor-wrap">
                                        <div class="fk-editor">
                                            <div style="text-align: center; font-size: 28px;">新闻资讯</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="module337" class="form jz_module  jz_module_style_6">
                        <div class="module_wrap">
                            <div class="module_content ">
                                <div class="module_text_content">
                                    <div class="fkeditor-wrap">
                                        <div class="fk-editor">
                                            <div style="text-align: center; font-size: 14px; color: rgb(153, 153, 153); font-family: 微软雅黑;">INFORMATION NEWS</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="jz_web_row_line jz_web_row_line_pc1">
    <div id="row107" class="jz_web_row jz_web_row1 jz_module_row">
        <div class="jz_web_row__content">
            <div class="jz_web_col jz_web_col0" _index="0">
                <div class="web_col_content">
                    <div id="module338" class="form jz_module  jz_module_style_17">
                        <div class="module_wrap">
                            <div class="module_content">
                                <div leninrow="2" projectid="338" class="module_content_detail module_news_list_content module_news_list_style1">
                                    <div class="news_list_wrap">
                                        <?php foreach($newsData as $v): ?>
                                        <div data-id="2" class="news_list_item_line jz_hover jz_theme_font_hover_color news_list_item_line_num news_list_item_line_num2 news_list_item_line_pic">
                                            <a href="nd.jsp?id=2&amp;formMid=338" target="_blank" class="news_list_item_link"></a> 
                                            <div class="news_list_item_inner">
                                                <div class="news_list_img_box">
                                                    <div class="news_list_img" data-was-processed="true" style='background-image: url("/news/{$v['img']}");'></div>
                                                </div>
                                                <div class="news_list_item_content">
                                                    <div class="news_list_item_header">
                                                        <h4 class="news_list_item_title jz_theme_font_hover_color jz_hover">{$v['title']}</h4> 
                                                        <span class="news_list_item_date"><?php echo date("Y-m-d H:i",$v['time']); ?></span>
                                                    </div> 
                                                    <div class="news_list_item_summery">{$v['content']}</div>
                                                    <div class="news_list_item_ext_line">
                                                        <div class="news_list_item_arrow_link">
                                                            <div class="news_list_item_arrow"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <?php endforeach; ?>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="jz_web_row_line jz_web_row_line_pc1">
   <div id="row273" class="jz_web_row jz_web_row1 jz_module_row">
    <div class="jz_web_row__content">
     <div class="jz_web_col jz_web_col0" _index="0">
      <div class="web_col_content">
       <div id="module523" class="form jz_module  jz_module_style_6">
        <div class="module_wrap">
         <div class="module_content ">
          <div class="module_text_content">
           <div class="fkeditor-wrap">
            <div class="fk-editor">
             <div style="text-align: center; font-size: 28px; color: rgb(51, 51, 51); font-family: 微软雅黑;">
              联系我们
             </div>
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
       <div id="module550" class="form jz_module  jz_module_style_6">
        <div class="module_wrap">
         <div class="module_content ">
          <div class="module_text_content">
           <div class="fkeditor-wrap">
            <div class="fk-editor">
             <div style="text-align: center; font-size: 14px; color: rgb(153, 153, 153); font-family: 微软雅黑;">
              CONTACT US
             </div>
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
  <div class="jz_web_row_line jz_web_row_line_pc1">
   <div id="row279" class="jz_web_row jz_web_row4 jz_web_row_mobi1 jz_module_row">
    <div class="jz_web_row__content">
     <div class="jz_web_col jz_web_col0" _index="0">
      <div class="web_col_content">
       <div id="module662" class="form jz_module  jz_module_style_7">
        <div class="module_wrap">
         <div class="module_content ">
          <div class="module_image_content "> 
           <a href="/index.jsp" target="_blank" style="display: block;"> <img data-src="{:config('static_home')}//16934065.s21i.faiusr.com/4/5/ABUIABAEGAAg2dSv5gUo-J_I6AcwygE4yQE.png" alt="//16934065.s21i.faiusr.com/4/5/ABUIABAEGAAg2dSv5gUo-J_I6AcwygE4yQE.png&quot; class=" '="" /></a>
          </div>
         </div>
        </div>
       </div>
       <div id="module663" class="form jz_module  jz_module_style_6">
        <div class="module_wrap">
         <div class="module_content ">
          <div class="module_text_content">
           <div class="fkeditor-wrap">
            <div class="fk-editor">
             <div style="text-align: center; line-height: 36px;"></div>
             <div style="text-align: center; line-height: 36px;">
              返回顶部
             </div>
             <span style="font-size: 14px;"></span>
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
     <div class="jz_web_col jz_web_col1" _index="1">
      <div class="web_col_content">
       <div id="module614" class="form jz_module  jz_module_style_7">
        <div class="module_wrap">
         <div class="module_content ">
          <div class="module_image_content "> 
           <a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&amp;__biz=Mzg5MjA1MjQ0OQ==&amp;scene=124#wechat_redirect" target="_blank" style="display: block;"> <img data-src="{:config('static_home')}//16934065.s21i.faiusr.com/4/5/ABUIABAEGAAg9NSv5gUooIaX5AUwygE4yQE.png" alt="//16934065.s21i.faiusr.com/4/5/ABUIABAEGAAg9NSv5gUooIaX5AUwygE4yQE.png&quot; class=" '="" /></a>
          </div>
         </div>
        </div>
       </div>
       <div id="module615" class="form jz_module  jz_module_style_6">
        <div class="module_wrap">
         <div class="module_content ">
          <div class="module_text_content">
           <div class="fkeditor-wrap">
            <div class="fk-editor">
             <div style="text-align: center; line-height: 36px;">
               微信公众号 
             </div>
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
     <div class="jz_web_col jz_web_col2" _index="2">
      <div class="web_col_content">
       <div id="module617" class="form jz_module  jz_module_style_7">
        <div class="module_wrap">
         <div class="module_content ">
          <div class="module_image_content "> 
           <a href="mailto:support@sychain.vip" target="_blank" style="display: block;"> <img data-src="{:config('static_home')}//16934065.s21i.faiusr.com/4/5/ABUIABAEGAAgv9Wv5gUokO2sjQEwygE4yQE.png" alt="//16934065.s21i.faiusr.com/4/5/ABUIABAEGAAgv9Wv5gUokO2sjQEwygE4yQE.png&quot; class=" '="" /></a>
          </div>
         </div>
        </div>
       </div>
       <div id="module618" class="form jz_module  jz_module_style_6">
        <div class="module_wrap">
         <div class="module_content ">
          <div class="module_text_content">
           <div class="fkeditor-wrap">
            <div class="fk-editor">
             <div style="text-align: center; line-height: 36px;"></div>
             <div style="text-align: center; line-height: 36px;">
              企业邮箱 
             </div>
             <span style="font-size: 14px;"></span>
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
     <div class="jz_web_col jz_web_col3" _index="3">
      <div class="web_col_content">
       <div id="module619" class="form jz_module  jz_module_style_7">
        <div class="module_wrap">
         <div class="module_content ">
          <div class="module_image_content "> 
           <a onmouseover="Site.hoverQrCode(&quot;/16934065.s21i.faiusr.com/2/5/ABUIABACGAAgosyf5gUox4fDHzCuAziuAw.jpg&quot;,this);" target="_blank" style="display: block;"> <img data-src="{:config('static_home')}//16934065.s21i.faiusr.com/4/5/ABUIABAEGAAg9NSv5gUooPWmswMwygE4yQE.png" alt="//16934065.s21i.faiusr.com/4/5/ABUIABAEGAAg9NSv5gUooPWmswMwygE4yQE.png&quot; class=" '="" /></a>
          </div>
         </div>
        </div>
       </div>
       <div id="module620" class="form jz_module  jz_module_style_6">
        <div class="module_wrap">
         <div class="module_content ">
          <div class="module_text_content">
           <div class="fkeditor-wrap">
            <div class="fk-editor">
             <div style="text-align: center; line-height: 36px;"></div>
             <div style="text-align: center; line-height: 36px;">
              客服咨询
             </div>
             <span style="font-size: 14px;"></span>
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
    </div>

    <div id="gridFooter" class="jz_web_footer g_footer">
        <div class='jz_web_row_line jz_web_row_line_pc1'><div id='row4' class='jz_web_row jz_web_row1 jz_section_row'><div class='jz_web_row__content'><div class='jz_web_col jz_web_col0' _index=0><div class='web_col_content'><div class='s_footer'><p><a href='http://www.beian.miit.gov.cn' target='_blank' class='s_footer_anchor jz_hover jz_theme_font_hover_color'>粤ICP备19007922号</a></p></div></div></div></div></div></div>
    </div>

    <div id="jzBackTopCompon"></div> 
</div>

<script src="{:config('static_home')}/g-1.ss.faisys.com/js/rjs/comm/polyfill.min.js?v=201905221254"></script>
<script type="text/javascript" src="{:config('static_home')}/g-1.ss.faisys.com/js/rjs/comm/jquery.min.js?v=201905221254"></script>
<script type="text/javascript" src="{:config('static_home')}/g-1.ss.faisys.com/js/rjs/comm/jquery_ui.min.js?v=201905221254"></script>
<script type="text/javascript" src="{:config('static_home')}/g-1.ss.faisys.com/js/rjs/comm/jquery.mobile.min.js?v=201905221254"></script>
<script src="{:config('static_home')}/g-1.ss.faisys.com/js/rjs/comm/jquery-mousewheel.min.js?v=201905221254"></script>
<script type='text/javascript' src="{:config('static_home')}//g-1.ss.faisys.com/js/rjs/comm/vue.min.js?v=201812051539"></script>
<script src="{:config('static_home')}/g-1.ss.faisys.com/js/rjs/comm/vuex.min.js?v=201905221254"></script>
<script type="text/javascript" src="{:config('static_home')}/g-1.ss.faisys.com/js/rjs/comm/fai.min.js?v=201905221254"></script>
<script type="text/javascript" src="{:config('static_home')}/g-1.ss.faisys.com/js/rjs/r_site.min.js?v=201905221254"></script>
<script type="text/javascript" src="{:config('static_home')}/g-1.ss.faisys.com/js/locale/2052.min.js?v=201905221254"></script>
<script type="text/javascript" src="{:config('static_home')}/g-1.ss.faisys.com/js/comm/SWFUpload2v/jquery.uploadifyNew.min.js?v=201905081359"></script>
<script src="{:config('static_home')}/g-1.ss.faisys.com/js/rjs/comm.min.js?v=201905221254"></script>
<script src="{:config('static_home')}/g-1.ss.faisys.com/js/city2.min.js?v=201905081359"></script>
<script src="{:config('static_home')}/g-1.ss.faisys.com/js/rjs/r_plugins.min.js?v=201905221254"></script>
<script src="{:config('static_home')}/g-1.ss.faisys.com/js/rjs/moduleAnimation.min.js?v=201905221254"></script>
<script id= "onlineMapApi" type="text/javascript" charset="utf-8" src="https://api.map.baidu.com/api?v=2.0&ak=BPPrdn0rN6iz2l1o97PohYt2Q7aOT9lW"></script>
<script type="text/javascript" src="{:config('static_home')}/g-1.ss.faisys.com/js/rjs/r_module.min.js?v=201905221254"></script>
<script src="{:config('static_home')}/g-1.ss.faisys.com/js/rjs/comm/video.min.js?v=201905221254"></script>

<script>    
    var _Global = {};
    _Global.isFreeVer = false;
    _Global.visitorAdData = {};
    var _jzProUrl = '';

        _jzProUrl = 'jz.fkw.com';

    var _resRoot = '//g-0.ss.faisys.com';
    var _manageMode = false;
    if (window._manageMode) {
        //by jser 2018-9-11
        Fai.top._bigAdOptions = {
            "sevenCelebration" : false,
            "sevenKnowMoreUrl" : "http://jz.fkw.com/alliance.html",
            "sevenQQUrl": "http://i.fkw.com/count/agentCount.jsp?s=1",
            "dailyImgUrl": "http://i.fkw.com/jump.jsp?t=40&purchaseFrom=jzFirstPurchasePop#appId=shop&tab=0?fromPageId=3",
            _timer: null,
            delayClickLog: function(){
                clearTimeout(Fai.top._bigAdOptions._timer);
                Fai.top._bigAdOptions._timer = setTimeout(function(){
                    Site.logDog(200623, 8);
                }, 50);
            },
            onShow: function(){
                Site.logDog(200623, 7);
            },
            "onConfirm": function(){
                Fai.top._bigAdOptions.delayClickLog();
            },
            onPanelClick: function(){
                Fai.top._bigAdOptions.delayClickLog();
            }
        }
    }
    if (false) {
        $(function() {
            if (Fai.top.$(".drawLottery").length == 0) {
                Site.popBigAdWindow();  // 弹出免费版引导付费广告             
                 }
        });
    }

    Site.loadCss("/g-2.ss.faisys.com/css/datepicker.min.css?v=201905221254");

    var link = $('#adminHref').attr('href');
    var protocol = window.location.protocol
    var url = window.location.href;
    var path = url.substr(protocol.length);
    var newLink = link + "&_preUrl=" + Fai.encodeUrl(path) + "&mall=false&_preSiteId=" + Fai.top._siteId;
    $('#adminHref').attr('href', newLink);

</script>     
<div class="jz_clear" ></div>
</body>
</html>
