<!DOCTYPE html>
<html lang="zh" class="jz_screen_pc">
<head>
<title>熵云链</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Cache-Control" content="no-transform">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="format-detection" content="telephone=no,email=no,address=no">
<meta name="renderer" content="webkit">
<meta property="og:url" content="http://www.zsepoch.com">
<meta name="description" itemprop="description" content="熵云链"/>
<meta itemprop="name" content="熵云链"/><meta name="keywords" content="熵云链"/>
<script type="text/javascript">
    (function() { 
        var fs = document.createElement("script"); 
        fs.src = "{:config('static_home')}/fe.faisys.com/jssdk_1_0/js/hawkEye.min.js?v=201905161925";
        window.FAI_HAWK_EYE = {}; window.FAI_HAWK_EYE.jssdk_report_url = "/report.fkw.com/js/report"; 
        window.FAI_HAWK_EYE.jssdk_appid = 3019; 
        window.FAI_HAWK_EYE.fai_aid = 16934065; 
        window.FAI_HAWK_EYE.fai_bs_aid = 16934065;
        window.FAI_HAWK_EYE.fai_bs_id = 5; 
        window.FAI_HAWK_EYE.fai_bs_wid = 500; 
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(fs, s);
    })();
</script>
<meta content="always" name="referrer">

<script type="text/javascript" src="{:config('static_home')}/fe.faisys.com/browserChecked_1_0/js/browserCheck.min.js?v=201812191155"></script>
<script type="text/javascript"> 
    var notSupportList = [];
        dogSrc = 1;
        version = 9;

    if(!BrowserChecked({reverse:true,notSupportList:[{name:"ie",version:version}]}).isSupport){
        var xhr = new XMLHttpRequest();            
        xhr.open('GET', '/ajax/log_h.jsp?cmd=dog&dogId=200696&dogSrc=' + dogSrc, true);
        xhr.onreadystatechange = function() {
          // xhr.readyState == 4说明请求已完成   
        };
        xhr.send();
        window.location.href = "lvBrowser.jsp?url="+encodeURIComponent(location.href)+"&v="+version;
    }
</script>

<style type="text/css">
    .jz_toolbar .wx_qr_code{
        background-image:url("");
    }
    .jz_toolbar .wx_qr_logo{
        background-image:url("/jzas.faisys.com/image/v2/jz_logo.jpg");
    }
</style>
<link type="text/css" href="{:config('static_home')}/g-2.ss.faisys.com/css/rcss/fontsIcon.min.css?v=201905221254" rel="stylesheet" />
<link type="text/css" href="{:config('static_home')}/g-2.ss.faisys.com/css/rcss/base.min.css?v=201905221254" rel="stylesheet" />
<link type="text/css" href="{:config('static_home')}/g-2.ss.faisys.com/css/rcss/common/video-js.min.css?v=201905221254" rel="stylesheet" />
<link type="text/css" href="{:config('static_home')}/g-2.ss.faisys.com/css/rcss/video.min.css?v=201905221254" rel="stylesheet" />
<link type="text/css" href="{:config('static_home')}/g-2.ss.faisys.com/css/rcss/slidePanel.min.css?v=201905221254" rel="stylesheet" />
<link type="text/css" href="{:config('static_home')}/g-2.ss.faisys.com/css/site/poshytipAndmCustomScrollbar.min.css?v=201905221254" rel="stylesheet" />
<link type="text/css" href="{:config('static_home')}/g-2.ss.faisys.com/css/rcss/materialFactory.min.css?v=201905221254" rel="stylesheet" />
<link type='text/css' href='//g-2.ss.faisys.com/css/rcss/moduleAnimation.min.css?v=201905221254' rel='stylesheet' />
<link type="text/css" href="{:config('static_home')}/jzresponsivecusstyle.jsp?colId=2&extId=0" rel="stylesheet" />


<style id="themeControl">
    .jz_theme_font_color{color:#4c4c4c;}
    .jz_theme_bg_color{background-color:#4c4c4c;}
    .jz_theme_border_color{border-color:#4c4c4c;}
    .jz_theme_focus_border_color:focus{border-color:#4c4c4c;}
    .jz_theme_hover_font_color:hover{color:#4c4c4c;}
    .jz_hover.jz_theme_bg_hover_color:hover{background-color:#4c4c4c;}
    .jz_hover.jz_theme_font_hover_color:hover{color:#4c4c4c;}
    .jz_hover.jz_theme_border_hover_color:hover{border-color:#4c4c4c;}
    .jz_focus.jz_theme_focus_border_color:focus{border-color:#4c4c4c;}
</style>

<script>
    // 访客态链接跳转   
    document.addEventListener("click", function(event){
        for(var i in event.path){
            var node = event.path[i];
            if(node.nodeName === "A"){
                // 点击A标签
                var href = node.getAttribute("href");
                if(!href) return;
                if(
                    ( window.innerWidth <= 768 || window.self != window.top ) &&
                   !( href.indexOf('http:') > -1 || href.indexOf('https:') > -1 )
                ){
                    // 手机或者内嵌iframe点击链接时取消新页面打开（站内链接）
                    event.preventDefault();
                    location.href = href;
                }
            }
        }
    }, false);
    document.addEventListener('touchmove',function(event){event.preventDefault(); },false);
</script>

    
</head>
<body>
    <script type="text/javascript" src="{:config('static_home')}/g-1.ss.faisys.com/js/jzUtils.min.js?v=201904171451"></script>
    <script>
        Fai = {};
        Fai.top = window;
        Root = {};
        JZ = {};
        _global = {};
        Comm = {};
        _temporary = {};    //临时数据
        _props = {};
    </script>

    <div id="jzWebContainer" class="jz_web_container jz_col_2" >
        <div id="gridHeader" class="jz_web_header g_header g_header__static">
            <div class="header_content g_header_content J_headerContent g_header_content_fixed_bg_def">
                <div class='jz_web_row_line jz_web_row_line_pc1'>
                    <div id='row3' class='jz_web_row jz_web_row3 jz_section_row'>
                        <div class='jz_web_row__content'>
                            <div class='jz_web_col jz_web_col0 jz_col_6' _index=0>
                                <div class='web_col_content'>
                                    <div class='jz_website_title_wrap'>
                                        <div id='jz_website_title' class='jz_website_title type_1'>
                                            <div class='logo_wrap'>
                                                <a href='/index.jsp'  >
                                                    <img class='logo_img' src="/upload/" ></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class='jz_web_col jz_web_col1 jz_col_4 jz_col_sys_section' _index=1 style="width: 39%;">
                                    <div class='web_col_content'>
                                        <div class='jz_nav_wrap jz_nav_layout1 visit_mode'>
                                        <div class='jz_nav_menu'>
                                            <div class='menu_body'>
                                                <div class='nav_menu_item menu_item_top'>
                                                    <div class='item_rect'></div>
                                                </div>
                                                <div class='nav_menu_item menu_item_center'>
                                                    <div class='item_rect'></div>
                                                </div>
                                                <div class='nav_menu_item menu_item_bottom'>
                                                    <div class='item_rect'></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id='jz_nav' class='jz_nav'>
                                            <div class='jz_nav_content '>
                                                <i class='nav_icon_prev nav_icon_direction'></i>
                                                <i class='nav_icon_next nav_icon_direction'></i>
                                                <ul class='jz_nav_list'>
                                                    <li class='jz_nav_item  jz_hover jz_theme_border_hover_color jz_theme_font_hover_color nav_item2  jz_nav_item_selected jz_theme_border_color jz_theme_font_color ' _colid='2'>
                                                        <div class='nav_item_text_wrap'><a class='nav_item_text ' title='' href='/index.jsp' target='_self'>首 &nbsp;页</a> </div>
                                                    </li>
                                                    <li class='nav_item_septal'></li>
                                                    <li class='jz_nav_item  jz_hover jz_theme_border_hover_color jz_theme_font_hover_color nav_item103  ' _colid='103'>
                                                        <div class='nav_item_text_wrap'>
                                                            <a class='nav_item_text ' title='' href='{:url("/home/messages/index")}' target='_self'>留言板</a>
                                                        </div>
                                                    </li>
                                                    <li class='jz_nav_item  jz_hover jz_theme_border_hover_color jz_theme_font_hover_color nav_item103  ' _colid='103'>
                                                        <div class='nav_item_text_wrap'>
                                                            <a class='nav_item_text ' title='' href='{:url("/home/trend/index")}' target='_self'>溯源趋势</a>
                                                        </div>
                                                    </li>
                                                    <li class='jz_nav_item  jz_hover jz_theme_border_hover_color jz_theme_font_hover_color nav_item103  ' _colid='103'>
                                                        <div class='nav_item_text_wrap'>
                                                            <a class='nav_item_text ' title='' href='{:url("/home/plan/index")}' target='_self'>溯源方案</a>
                                                        </div>
                                                    </li>
                                                    <li class='nav_item_septal'></li>
                                                    <li class='jz_nav_item  jz_hover jz_theme_border_hover_color jz_theme_font_hover_color nav_item104  ' _colid='104'>
                                                        <div class='nav_item_text_wrap'>
                                                            <a class='nav_item_text ' title='' href='/download/chinese.pdf' target='_self'>白皮书下载</a>  
                                                        </div>
                                                    </li>
                                                    <li class='jz_nav_item  jz_hover jz_theme_border_hover_color jz_theme_font_hover_color nav_item104  ' _colid='104'>
                                                        <div class='nav_item_text_wrap'>
                                                            <a class='nav_item_text ' title='' href='{:url("/home/relation/index")}' target='_self'>联系我们</a>  
                                                        </div>
                                                    </li>
                                                    <li class='nav_item_septal'></li>
                                                    <li class='jz_nav_item  jz_hover jz_theme_border_hover_color jz_theme_font_hover_color nav_item106  nav_child_item ' _colid='106'>
                                                        <div class='nav_item_text_wrap'>
                                                            <i class='icon_nav_item faisco-icons-S000106'></i>
                                                            <a class='nav_item_text  nav_child_item_text' title='' href='http://uuhdx.com/h-col-116.html' target='_self'>关 &nbsp;于</a>
                                                            <ul class='sub_nav_list' _parentid='106'>
                                                                <div class='sub_nav_wrap'></div>
                                                            </ul>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class='mobi_nav_blocker'></div>
                                    </div>
                                </div>
                            </div>
                            <div style="line-height: 65px;">
                                <a href="{:url('/home_en/index/index')}" style="font-size: 14px;color: red;">英文</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="g_header_placeholder J_headerPlaceholder"></div>
        </div>

        <div class="jz_web_banner">
            <div id='jz_banner' class='jz_banner jz_hide_flv'>
                <div class='banner_pic'>
                    <div class='pic_switch_btn_area banner_short_line_wrap jz_pc_short_line  jz_mobi_same_pc_banner'>
                        <a index='0' class='pic_short_line_btn pic_short_line_0 pic_short_line_btn_activity'>
                            <div class='pic_short_line'></div>
                        </a>
                        <a index='1' class='pic_short_line_btn pic_short_line_1'><div class='pic_short_line'></div></a>
                        <a class='pic_arrow_btn pic_arrow_btn_prev'></a>
                        <a class='pic_arrow_btn pic_arrow_btn_next'></a>
                    </div>
                    <div class='banner_pic_group jz_pc_banner_group  jz_mobi_same_pc_banner'>
                        <div class='banner_pic_item_wrap banner_pic_0'>
                            <div class='banner_pic_item'>
                                <div class='banner_module_zone'>
                                    <object>
                                        <div class='jz_web_row_line jz_web_row_line_pc1'>
                                            <div id='row284' class='jz_web_row jz_web_row1 jz_web_row_mobi1 jz_section_row'>
                                                <div class='jz_web_row__content'>
                                                    <div class='jz_web_col jz_web_col0' _index=0>
                                                        <div class='web_col_content web_col_content_empty'> 
                                                            <img src="{:config('static_home')}/img/1.png"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </object>
                                </div>
                            </div>
                        </div>
                        <div class='banner_pic_item_wrap banner_pic_1'>
                            <div class='banner_pic_item'>
                                <div class='banner_module_zone'>
                                    <object>
                                        <div class='jz_web_row_line jz_web_row_line_pc1'>
                                            <div id='row283' class='jz_web_row jz_web_row1 jz_web_row_mobi1 jz_section_row'>
                                                <div class='jz_web_row__content'>
                                                <div class='jz_web_col jz_web_col0' _index=0>
                                                    <div class='web_col_content web_col_content_empty'><img src="{:config('static_home')}/img/2.png"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </object>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="jz_web_content">
        <div class="jz_web_row_line jz_web_row_line_pc1">
            <div id="row121" class="jz_web_row jz_web_row1 jz_module_row">
                <div class="m_msg_board">
                    <form method="post" action="{:url('/home/messages/submit')}">
                    <div class="m_form s_0">
                        <ul class="form_container">
                            <li class="form_item_wrap prop_input_0 msg_input_2">
                                <div class="form_item">
                                    <h3 class="title">姓名：</h3>
                                    <div class="item_type_0 required ">
                                        <input maxlength="100" id="reqName" name="name" placeholder="请输入姓名" class="input_style jz_focus jz_theme_focus_border_color">
                                    </div>
                                </div>
                            </li>
                            <li class="form_item_wrap prop_input_0 msg_input_3">
                                <div class="form_item">
                                    <h3 class="title">邮箱：</h3>
                                    <div class="item_type_0 ">
                                        <input maxlength="100" id="reqEmail" name="email" placeholder="请输入邮箱" class="input_style jz_focus jz_theme_focus_border_color">
                                    </div>
                                </div>
                            </li>
                            <li class="form_item_wrap prop_input_0 msg_input_4">
                                <div class="form_item">
                                    <h3 class="title">电话：</h3>
                                    <div class="item_type_0 ">
                                        <input maxlength="100" id="reqPhone" name="phone" placeholder="请输入电话" class="input_style jz_focus jz_theme_focus_border_color">
                                    </div>
                                </div>
                            </li>
                            <li class="form_item_wrap prop_input_1 msg_input_reqContent">
                                <div class="form_item">
                                    <h3 class="title">内容：</h3>
                                    <div class="item_type_1 ">
                                        <textarea maxlength="1000" id="reqContent" name="content" placeholder="留言需审核后才会显示" class="textarea_style jz_focus jz_theme_focus_border_color"></textarea>
                                    </div>
                                </div>
                            </li>
                            <li class="form_item_wrap form_item_validateCode" style="display:none;">
                                <div class="form_item">
                                    <h3 class="title">验证码</h3>
                                    <div class="item_type_validateCode content">
                                        <input maxlength="4" class="validateCode_input input_style jz_focus jz_theme_focus_border_color">
                                        <img alt="" src="validateCode.jsp?835.9749015556408&amp;validateCodeRegType=3" class="validateCode_img">
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <button class="form_submit jz_theme_bg_color">提交留言</button>
                    </div>
                    </form>
                    <div class="m_msg_board_comment">
                        <div class="fk-circle" style="display: none;">
                            <div class="fk-circle1 fk-child"></div>
                            <div class="fk-circle2 fk-child"></div>
                            <div class="fk-circle3 fk-child"></div>
                            <div class="fk-circle4 fk-child"></div>
                            <div class="fk-circle5 fk-child"></div>
                            <div class="fk-circle6 fk-child"></div>
                            <div class="fk-circle7 fk-child"></div>
                            <div class="fk-circle8 fk-child"></div>
                            <div class="fk-circle9 fk-child"></div>
                        </div>
                        <div class="content">
                            <div class="comments_title">全部留言</div>
                            <?php foreach($messagesData as $v): ?>
                            <div class="item">
                                <div class="head_pic">
                                    <img src="//0.ss.faisys.com/image/portrait/3.jpg" class="head_img">
                                </div>
                                <div class="item_content">
                                    <div class="top_line">
                                        <div class="menber_info">
                                            <span class="name">{$v["name"]}</span>
                                            <span class="is_tourist">[游客]</span>
                                        </div>
                                        <div class="msg_time">{$v["time"]}</div>
                                    </div>
                                    <div class="center_line">
                                        <div class="msg_content">{$v["content"]}</div>
                                    </div>
                                    <?php if($v["reply"]!=""): ?>
                                    <div class="bottom_line">
                                        <div class="reply_title">管理员回复：</div>
                                        <div class="rsp_content">
                                            <p style="line-height:1.5em;">{$v["reply"]}</p>
                                        </div>
                                    </div>
                                    <?php else: ?>
                                    <div class="rsp_content"></div>
                                    <?php endif; ?>
                                </div>
                            </div>
                            <?php endforeach; ?>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </div>
    <div id="gridFooter" class="jz_web_footer g_footer">
        <div class='jz_web_row_line jz_web_row_line_pc1'>
            <div id='row4' class='jz_web_row jz_web_row1 jz_section_row'>
                <div class='jz_web_row__content'>
                    <div class='jz_web_col jz_web_col0' _index=0>
                        <div class='web_col_content'>
                            <div class='s_footer'>
                                <p>
                                    <a href='http://www.beian.miit.gov.cn' target='_blank' class='s_footer_anchor jz_hover jz_theme_font_hover_color'>粤ICP备19007922号</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="jzBackTopCompon"></div>
</div>

<script src="{:config('static_home')}/g-1.ss.faisys.com/js/rjs/comm/polyfill.min.js?v=201905221254"></script>
<script type="text/javascript" src="{:config('static_home')}/g-1.ss.faisys.com/js/rjs/comm/jquery.min.js?v=201905221254"></script>
<script type="text/javascript" src="{:config('static_home')}/g-1.ss.faisys.com/js/rjs/comm/jquery_ui.min.js?v=201905221254"></script>
<script type="text/javascript" src="{:config('static_home')}/g-1.ss.faisys.com/js/rjs/comm/jquery.mobile.min.js?v=201905221254"></script>
<script src="{:config('static_home')}/g-1.ss.faisys.com/js/rjs/comm/jquery-mousewheel.min.js?v=201905221254"></script>
<script type='text/javascript' src="{:config('static_home')}//g-1.ss.faisys.com/js/rjs/comm/vue.min.js?v=201812051539"></script>
<script src="{:config('static_home')}/g-1.ss.faisys.com/js/rjs/comm/vuex.min.js?v=201905221254"></script>
<script type="text/javascript" src="{:config('static_home')}/g-1.ss.faisys.com/js/rjs/comm/fai.min.js?v=201905221254"></script>
<script type="text/javascript" src="{:config('static_home')}/g-1.ss.faisys.com/js/rjs/r_site.min.js?v=201905221254"></script>
<script type="text/javascript" src="{:config('static_home')}/g-1.ss.faisys.com/js/locale/2052.min.js?v=201905221254"></script>
<script type="text/javascript" src="{:config('static_home')}/g-1.ss.faisys.com/js/comm/SWFUpload2v/jquery.uploadifyNew.min.js?v=201905081359"></script>
<script src="{:config('static_home')}/g-1.ss.faisys.com/js/rjs/comm.min.js?v=201905221254"></script>
<script src="{:config('static_home')}/g-1.ss.faisys.com/js/city2.min.js?v=201905081359"></script>
<script src="{:config('static_home')}/g-1.ss.faisys.com/js/rjs/r_plugins.min.js?v=201905221254"></script>
<script src="{:config('static_home')}/g-1.ss.faisys.com/js/rjs/moduleAnimation.min.js?v=201905221254"></script>
<script id= "onlineMapApi" type="text/javascript" charset="utf-8" src="https://api.map.baidu.com/api?v=2.0&ak=BPPrdn0rN6iz2l1o97PohYt2Q7aOT9lW"></script>
<script type="text/javascript" src="{:config('static_home')}/g-1.ss.faisys.com/js/rjs/r_module.min.js?v=201905221254"></script>
<script src="{:config('static_home')}/g-1.ss.faisys.com/js/rjs/comm/video.min.js?v=201905221254"></script>

<script>    
    var _Global = {};
    _Global.isFreeVer = false;
    _Global.visitorAdData = {};
    var _jzProUrl = '';

        _jzProUrl = 'jz.fkw.com';

    var _resRoot = '//g-0.ss.faisys.com';
    var _manageMode = false;
    if (window._manageMode) {
        //by jser 2018-9-11
        Fai.top._bigAdOptions = {
            "sevenCelebration" : false,
            "sevenKnowMoreUrl" : "http://jz.fkw.com/alliance.html",
            "sevenQQUrl": "http://i.fkw.com/count/agentCount.jsp?s=1",
            "dailyImgUrl": "http://i.fkw.com/jump.jsp?t=40&purchaseFrom=jzFirstPurchasePop#appId=shop&tab=0?fromPageId=3",
            _timer: null,
            delayClickLog: function(){
                clearTimeout(Fai.top._bigAdOptions._timer);
                Fai.top._bigAdOptions._timer = setTimeout(function(){
                    Site.logDog(200623, 8);
                }, 50);
            },
            onShow: function(){
                Site.logDog(200623, 7);
            },
            "onConfirm": function(){
                Fai.top._bigAdOptions.delayClickLog();
            },
            onPanelClick: function(){
                Fai.top._bigAdOptions.delayClickLog();
            }
        }
    }
    if (false) {
        $(function() {
            if (Fai.top.$(".drawLottery").length == 0) {
                Site.popBigAdWindow();  // 弹出免费版引导付费广告             
                 }
        });
    }

    Site.loadCss("/g-2.ss.faisys.com/css/datepicker.min.css?v=201905221254");

    var link = $('#adminHref').attr('href');
    var protocol = window.location.protocol
    var url = window.location.href;
    var path = url.substr(protocol.length);
    var newLink = link + "&_preUrl=" + Fai.encodeUrl(path) + "&mall=false&_preSiteId=" + Fai.top._siteId;
    $('#adminHref').attr('href', newLink);

</script>     
<div class="jz_clear" ></div>
</body>
</html>
