{include file="../application/admin/view/index/heater.html" /}
<form action="{:url('/admin/user/del')}" method="post">
<div class="mws-panel grid_7 " style="margin-top: 5%">
	<div class="mws-panel-header">
    	<span class="mws-i-24 i-table-1">管理员列表</span>
    </div>
    <div class="mws-panel-body">
    	<div class="mws-panel-toolbar top clearfix">
        	<ul>
                <li><span class="mws-ic-16 ic-add" onclick="NoSelAll()">全选</span></li>
                <li class="mws-ic-16 ic-accept" style="width:72px;background-color: #dddddd;height:35px;border:1px solid #ccc;"><input type="submit" name="deletesubmit" value="删除" onClick="return confirm('本操作不可恢复，确认删除？');" class="submit" style="line-height: 35px;padding-left: 20px;"></li>
            	<li><a href="{:url('/admin/user/add')}" class="mws-ic-16 ic-add">添加</a></li>
            </ul>
        </div>
        <table class="mws-table">
            <thead>
                <tr>
                    <th>选择</th>
                    <th>ID</th>
                    <th>用户名</th>
                    <th>管理员级别</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <?php foreach($usersData as $v): ?>
                <tr class="gradeX">                 
                    <td><?php if($v["id"]!=1 && $v["name"]!=session('name')): ?><input type="checkbox" name="ids[]" value="{$v['id']}"><?php endif; ?></td>
                    <td>{$v["id"]}</td>
                    <td>{$v["name"]}</td> 
                    <td><?php if($v["id"]==1): ?>超级管理员<?php else: ?>普通管理员<?php endif; ?></td>                  
                    <td class="status">{$v["pass"]==0?"正常":"<span style='color: red;'>封号</span>"}</td>
                    <td class="center">
                    	<div class="mws-panel-toolbar top clearfix">
                             <?php if(session("id")==1 || $v["id"]==session("id")): ?>
                            <ul>
                                <li><a href="{:url('/admin/user/upd',['id' => $v['id']])}" class="mws-ic-16 ic-edit">编辑</a></li>
                             <?php if($v["id"]!=session("id")): ?>
                                <li class="titles"  onclick="titles(this);" id="{$v['id']}">
                                    {$v["pass"] == 0 ? "<a href='#' class='mws-ic-16 ic-cross' >封号</a>" : "<a href='#' class='mws-ic-16 ic-accept'>正常</a>"}
                                </li>
                               <?php endif; ?>
                            </ul> 
                             <?php endif; ?>
                        </div>
                    </td>
                </tr>
               <?php endforeach; ?>
            </tbody>
        </table>
    </div>      
    <div class="mws-pagination clearfix" style="padding-top: 20px;">
        {$usersData->render()}
    </div>
</div>
</form>
{include file="../application/admin/view/index/footer.html" /}

<script type="text/javascript">

    function titles(it){
        var id = $(it).attr('id');

        $.get("{:url('/admin/user/titles')}",{"id":id},function(e){
 
            if(e.code==1){
                //1表示封号成功
                $(it).parent().parent().parent().parent().find(".status").html("<span style='color: red;'>封号</span>");

                $(it).html("<a href='#' class='mws-ic-16 ic-accept'>解封</a>");
                layer.msg(e.msg);
            }else{
                //否则表示解封成功
                $(it).parent().parent().parent().parent().find(".status").html("正常");
                
                $(it).html("<a href='#' class='mws-ic-16 ic-cross'>封号</a>");
                layer.msg(e.msg);

            }
        },"json")
    }

    //反选
    function NoSelAll(){ 
        $("input[name='ids[]']").each(function(){$(this).prop("checked",!this.checked);});
    }
</script>